{% load static %}
<div class="py-5 opaque-overlay" style="background-image: url(&quot;{% static 'img/banner.jpg' %}&quot;);">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-3 text-white">
          <img class="img-fluid d-block mx-auto mb-5 rounded-circle" src="{% static 'img/logo.jpg' %}"> </div>
        <div class="col-md-9 text-white align-self-center">
          <h1 class="display-3 mb-4">Pecandu Coffee</h1>
          <p class="lead mb-5">Roasted bean coffee.&nbsp;
          <br> </p>
        </div>
      </div>
    </div>
  </div>

