{% load static %}
<!-- footer -->
  <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-3">
          <h4 class="mb-4 text-primary"><b>Pecandu Coffee</b></h4>
          <p class="text-white">Brand for coffee maker, roasting, on a cup to your drunken</p>
        </div>
        <div class="p-4 col-md-2">
          <h4 class="mb-4 text-primary"><b>Mapsite</b></h4>
          <ul class="list-unstyled">
            <a href="/" class="text-white">Home</a>
            <br>
            <a href="" class="text-white">Contact us</a>
            <br>
            <a href="#" class="text-white">Our services</a>
            <br>
            <a href="#" class="text-white">Stories</a>
          </ul>
        </div>
        <div class="p-4 col-md-5">
          <h4 class="mb-4"><b>Contact</b></h4>
          <p>
            <a href="https://www.instagram.com/pc.coffee" class="text-white"><i class="fa d-inline mr-3 text-primary fa-instagram"></i>pecanducoffee</a>
          </p>
          <p>
            <a href="tel:+628 21 1518 4363" class="text-white"><i class="fa d-inline mr-3 text-primary fa-phone"></i>+628 21 1518 4363</a>
          </p>
          <p>
            <a href="mailto:pecanducoffe17@gmail.com" class="text-white"><i class="fa d-inline mr-3 text-primary fa-envelope-o"></i>pecanducoffe17@gmail.com</a>
          </p>
          <p><i class="fa d-inline mr-3 fa-map-marker text-primary"></i>
            <a href="https://goo.gl/maps/" class="text-white" target="_blank">Jl. Margajati No.12 Cijaura Hilir, Bandung</a>
          </p>
        </div>
        <div class="p-4 col-md-2">
          <h4 class="mb-4 text-light"><b>Subscribe</b></h4>
          <form>
            <fieldset class="form-group text-white"> <label for="exampleInputEmail1">Get our newsletter</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> </fieldset>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">© Copyright 2017 denihhandoko - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>

