
{% load static %}
<head>
  <meta charset="utf-8" />
  <title>{% block title %}Pecandu Coffee{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">

  <link rel="shortcut icon" type="image/ico" href="{% static 'img/logo-2.jpg' %}" class="img-circle">
  {% block stylesheet %}{% endblock %}

</head>

<nav class="navbar navbar-expand-md navbar-dark text-capitalize bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><i class="fa d-inline fa-lg fa-coffee"></i><b>  Pecandu Coffee</b></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item bg-dark">
            <a href="/" class="text-light nav-link">Coffee</a>
          </li>
          <li class="nav-item bg-dark">
            <a href="/about/" class="text-light nav-link">About</a>
          </li>
          <li class="nav-item bg-dark">
            <a href="/contact/" class="text-light nav-link">Contact</a>
          </li>
        </ul>
        <a class="btn navbar-btn ml-2 text-white btn-dark border border-dark btn-lg"><i class="fa d-inline fa-lg fa-cart-plus"></i> </a>
      </div>
    </div>
  </nav>
  

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>