{% load static %}


{% include 'snippet/nav.html' %}

{% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid d-block" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        </div>
        <div class="col-md-6">         
          <h5><b>{{ product.name }}</b></h5>   
          <p class="price">Harga : Rp. {{ product.price }}</p>
          <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
          <p>{{ product.description|linebreaks }}</p></td>
        </div>        
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>

{% endblock %}

{% include 'snippet/footer.html' %}